{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN</title>
  <link rel="stylesheet" type='text/css' href="{% static 'css/admins.css'%}">
</head>
<body>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-5 border-bottom">
    <h1 class="h2 ml-3">LOGIN</h1>
  </div>
  {% if form.errors  %}
  <p>ユーザーID, パスワードが一致しません．</p>
  {% endif %}
  <form method="POST" class="mr-5 ml-5 mt-5">
    {% csrf_token %}
    <label class="mb-3">username</label>
    {{ form.username }}
    {{ form.username.errors }}
    <label class="mt-4 mb-3">password</label>
    {{ form.password }}
    {{ form.password.errors }}
    <br>
    <br>
    <button type="submit" class="btn btn-secondary text-white ">submit</button>
  </form>
</body>
</html>