{% extends 'admins/admins_base.html' %}
{% load static %}
{% block contents %}
<div class="">
  <tr class="d-flex justify-content-around">
    <td>教室名</td>
    <td>capacity</td>
    <td>1限</td>
    <td>2限</td>
    <td>3限</td>
    <td>4限</td>
    <td>5限</td>
    <td>6限</td>
    <br>
  </tr>
  {% for i in object_list %}
  <tr class="d-flex justify-content-around">
    <td>{{ i.room_number }}</td>
    <td>{{ i.capacity}}</td>
    <td></td>
    <br>
  </tr>
  {% endfor %}
</div>
<div>
  <p>教室追加、編集は
  <a href="/fec_app_folder/admins/login/add_classroom/">こちら</a>
  </p>
</div>
{% endblock %}