{% extends 'admins/admins_base.html' %}
{% load static %}
{% load boost %}
{% block contents %}
<form action="{% url 'fec_app_folder:admins/login/solid/' %}">
  <button type="submit">登録更新する</button>
  {% csrf_token %}
  <div>
    <p>曜日</p>
    <select name="date" id="">
      <option value="1">月</option>
      <option value="2">火</option>
      <option value="3">水</option>
      <option value="4">木</option>
      <option value="5">金</option>
      <option value="6">土</option>
    </select>
  </div>
  <table>
    <tr class="d-flex justify-content-around">
      <td>教室名</td>
      <td>capacity</td>
      <td>1限</td>
      <td>2限</td>
      <td>3限</td>
      <td>4限</td>
      <td>5限</td>
      <td>6限</td>
      <br>
    </tr>
    <tbody>
      <!-- 月曜日 -->
      {% for i in comment_lists %}
      <tr class="d-flex justify-content-around">
          <td>{{ i.room_number }}</td>
          <td>{{ i.capacity}}人</td>
          <td><textarea name="comment_11">{{ i.comment_11 }}</textarea></td>
          <td><textarea name="comment_12">{{ i.comment_12 }}</textarea></td>
          <td><textarea name="comment_13">{{ i.comment_13 }}</textarea></td>
          <td><textarea name="comment_14">{{ i.comment_14 }}</textarea></td>
          <td><textarea name="comment_15">{{ i.comment_15 }}</textarea></td>
          <td><textarea name="comment_16">{{ i.comment_16 }}</textarea></td>
          <br>
      </tr>
      {% endfor %}
    </tbody>
    <tbody>
      <!-- 火曜日 -->
      {% for i in comment_lists %}
      <tr class="d-flex justify-content-around">
          <td>{{ i.room_number }}</td>
          <td>{{ i.capacity}}人</td>
          <td><textarea name="comment_21">{{ i.comment_21 }}</textarea></td>
          <td><textarea name="comment_22">{{ i.comment_22 }}</textarea></td>
          <td><textarea name="comment_23">{{ i.comment_23 }}</textarea></td>
          <td><textarea name="comment_24">{{ i.comment_24 }}</textarea></td>
          <td><textarea name="comment_25">{{ i.comment_25 }}</textarea></td>
          <td><textarea name="comment_26">{{ i.comment_26 }}</textarea></td>
          <br>
      </tr>
      {% endfor %}
    </tbody>
    <tbody>
      <!-- 水曜日 -->
      {% for i in comment_lists %}
      <tr class="d-flex justify-content-around">
          <td>{{ i.room_number }}</td>
          <td>{{ i.capacity}}人</td>
          <td><textarea name="comment_31">{{ i.comment_31 }}</textarea></td>
          <td><textarea name="comment_32">{{ i.comment_32 }}</textarea></td>
          <td><textarea name="comment_33">{{ i.comment_33 }}</textarea></td>
          <td><textarea name="comment_34">{{ i.comment_34 }}</textarea></td>
          <td><textarea name="comment_35">{{ i.comment_35 }}</textarea></td>
          <td><textarea name="comment_36">{{ i.comment_36 }}</textarea></td>
          <br>
      </tr>
      {% endfor %}
    </tbody>
    <tbody>
      <!-- 木曜日 -->
      {% for i in comment_lists %}
      <tr class="d-flex justify-content-around">
          <td>{{ i.room_number }}</td>
          <td>{{ i.capacity}}人</td>
          <td><textarea name="comment_41">{{ i.comment_41 }}</textarea></td>
          <td><textarea name="comment_42">{{ i.comment_42 }}</textarea></td>
          <td><textarea name="comment_43">{{ i.comment_43 }}</textarea></td>
          <td><textarea name="comment_44">{{ i.comment_44 }}</textarea></td>
          <td><textarea name="comment_45">{{ i.comment_45 }}</textarea></td>
          <td><textarea name="comment_46">{{ i.comment_46 }}</textarea></td>
          <br>
      </tr>
      {% endfor %}
    </tbody>
    <tbody>
      <!-- 金曜日 -->
      {% for i in comment_lists %}
      <tr class="d-flex justify-content-around">
          <td>{{ i.room_number }}</td>
          <td>{{ i.capacity}}人</td>
          <td><textarea name="comment_51">{{ i.comment_51 }}</textarea></td>
          <td><textarea name="comment_52">{{ i.comment_52 }}</textarea></td>
          <td><textarea name="comment_53">{{ i.comment_53 }}</textarea></td>
          <td><textarea name="comment_54">{{ i.comment_54 }}</textarea></td>
          <td><textarea name="comment_55">{{ i.comment_55 }}</textarea></td>
          <td><textarea name="comment_56">{{ i.comment_56 }}</textarea></td>
          <br>
      </tr>
      {% endfor %}
    </tbody>
    <tbody>
      <!-- 土曜日 -->
      {% for i in comment_lists %}
      <tr class="d-flex justify-content-around">
          <td>{{ i.room_number }}</td>
          <td>{{ i.capacity}}人</td>
          <td><textarea name="comment_61">{{ i.comment_61 }}</textarea></td>
          <td><textarea name="comment_62">{{ i.comment_62 }}</textarea></td>
          <td><textarea name="comment_63">{{ i.comment_63 }}</textarea></td>
          <td><textarea name="comment_64">{{ i.comment_64 }}</textarea></td>
          <td><textarea name="comment_65">{{ i.comment_65 }}</textarea></td>
          <td><textarea name="comment_66">{{ i.comment_66 }}</textarea></td>
          <br>
      </tr>
      {% endfor %}
    </tbody> 
  </table>
</form>
<div>
  <p>教室追加、編集は
  <a href="/fec_app_folder/admins/login/add_classroom/">こちら</a>
  </p>
</div>
{% endblock %}