{% extends 'admins/admins_base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" type='text/css' href="{% static 'css/admins.css'%}">
{% endblock %}
{% block contents %}
<h5 class="d-flex justify-content-end m-3 mb-4">固定の時間割編集は<a href="/fec_app_folder/admins/login/solid/">こちら</a></h5>
<h3 class="d-flex justify-content-center m-4">教室使用登録（臨時用）</h3>


<form action="{% url 'fec_app_folder:admins/login/temporary/' %}">
  {% csrf_token %}
  <div class="d-flex justify-content-center">
    <table>
      <tr class="d-flex justify-content-around">
        <td><big>施設コード</big></td>
        <td><big>予約開始日時</big></td>
        <td><big>予約終了日時<big></td>
      </tr>
      {% comment %} 例{% endcomment %}

      {% comment %} <tr class="d-flex justify-content-around mb-1" style="opacity: 1;">
        <td class="border border-dark rounded" width="185">↓教室名を貼り付け↓</td>
        <td class="border border-dark rounded" width="185">↓開始時刻を貼り付け↓</td>
        <td class="border border-dark rounded" width="185">↓終了時刻を貼り付け↓</td>
      </tr> {% endcomment %}

      {% comment %} <tr class="d-flex justify-content-around" style="opacity: 0.5;">
        <td class="border border-dark rounded" width="185">例）01FG-0-F301</td>
        <td class="border border-dark rounded" width="185">例）2022/6/24 10:50</td>
        <td class="border border-dark rounded" width="185">例）2022/6/24 12:30</td>
      </tr> {% endcomment %}

      <tr class="d-flex justify-content-around">
        <td id="room_id_paste" class="past"><input placeholder="例）01FG-0-F301" type="text" onpaste="return false"></td>
        <td class="past"><input id="start_time_paste"  placeholder="例）2022/6/24 10:50" type="paste" onpaste="return false"></td>
        <td class="past"><input id="finish_time_paste"  placeholder="例）2022/6/24 12:50" type="paste" onpaste="return false"></td>
      </tr>

      {% comment %} 列間のスペースと例と入力の区切り {% endcomment %}
      <tr class="d-flex justify-content-around mr-5 ml-5 mt-2 " style="opacity: 1;">
        <td><p>C-plusから<strong class="text-danger">列全体を</strong>コピーし、上の例が書いてあるボックスをクリックしてペースト</p></td>
      </tr>

      {% comment %} 入力エリア本体 {% endcomment %}
      <tbody>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
        <tr class="d-flex justify-content-around">
          <td><input type="text" name="room_id" onpaste="return false"></td>
          <td><input type="text" name="start_time" onpaste="return false"></td>
          <td><input type="text" name="finish_time" onpaste="return false"></td>
          <br>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button class="btn btn-outline-secondary" type="submit" id="click-btn">送信</button>
  </div>
</form>

<div>
  <p>{{ result }}</p>
</div>

{% comment %} <div id="popup-wrapper">
  <div id="popup-inside">
    <div id="close">x</div>
      <div id="message">
      <h2> {{ result }}</h2>
    </div>
  </div>
</div> {% endcomment %}
{% endblock %}