<!DOCTYPE html>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
{% load static %}
<html lang="ja">

  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=320,
                    height=480,
                    initial-scale=1.0,
                    minimum-scale=1.0,
                    maximum-scale=2.0,
                    user-scalable=yes" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inspiration&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cccabinet.jpn.org/bootstrap4/css/style.css">

    <link rel="stylesheet" type='text/css' href="{% static 'css/base.css'%}">

    <title> FGW空き教室確認システム </title>
    
    {% block extra_css %}{% endblock %}
    
  </head>

  <body>
    <!-- ↓↓１番上のナビゲーションバー↓↓ -->
    {% comment %} スマホ用 {% endcomment %}
    <div class="container-fluid sticky-top version_telephone">
      {% comment %} 背景色変更↓ {% endcomment %}
      <div class="row bg-warning">
        <div class="col-12">
          {% comment %} 二つの要素を両端に配置↓ {% endcomment %}
          <div class="d-flex justify-content-between">
            {% comment %} 左上ロゴ↓ {% endcomment %}
            <div class="logo"><img src="media/Vcode_Logo.png"></div>
            {% comment %} 右上メニューアンケート  {% endcomment %}
            <div class="pt-1 mr-2 mt-2 mb-3">
              <a href="http://localhost:8080/fec_app_folder/users/reviews/" class="btn btn-info" role="button">アンケート</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} 以降パソコン用 {% endcomment %}
    <div class="container-fluid sticky-top version_pc">
      {% comment %} 背景色変更↓ {% endcomment %}
      <div class="row bg-success">
        <div class="col-12">
          {% comment %} 二つの要素を両端に配置↓ {% endcomment %}
          <div class="d-flex justify-content-between">
            {% comment %} ロゴ↓ {% endcomment %}
            <div class="logo"><img src="images/Vcode_Logo.png"></div>
            {% comment %} 管理者用画面に飛ぶ↓ {% endcomment %}
            <div class="pt-1 mr-2 mt-2 mb-3">
              <button type="button" class="btn btn-danger">管理者用画面はこちら</button>
              {% comment %} ↑リンクの入れ方がわからないです {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="d-flex justify-content-center mb-5">
        <!-- ↓↓コンテンツ本体↓↓ -->
        <div class="pr-0 pl-0 mr-0 ml-0" id="col_change">
          {% block contents %}
          {% endblock %}
        </div>
        <!-- ↑↑コンテンツ本体ここまで↑↑ -->
      </div>
    </div>
  </body>
  <script type="text/javascript" src="{% static 'js/base.js'%}"></script>  
</html>