<!DOCTYPE html>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=320,
                    height=480,
                    initial-scale=1.0,
                    minimum-scale=1.0,
                    maximum-scale=2.0,
                    user-scalable=yes" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inspiration&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cccabinet.jpn.org/bootstrap4/css/style.css">
    <link rel="stylesheet" type='text/css' href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}

    <title> FGW空き教室確認システム </title>
    
    
  </head>
  <body>
    <!-- ↓↓１番上のナビゲーションバー↓↓ -->
    {% comment %} スマホ用 {% endcomment %}
    <div class="container-fluid sticky-top version_telephone">
      {% comment %} 背景色変更↓ {% endcomment %}
      <div class="row bg-warning">
        <div class="col-12">
          {% comment %} 二つの要素を両端に配置↓ {% endcomment %}
          <div class="d-flex justify-content-between">
            {% comment %} 左上ロゴ↓ {% endcomment %}
            <div class="logo"><img src="{% static 'img/Vcode_Logo.png' %}" alt="" class="img-fluid"></div>

            {% comment %} 不明 {% endcomment %}
            {% comment %} 右上メニュー↓  {% endcomment %}
            <div class="pt-1 mr-2 mt-2 mb-2">
            <span class="material-icons" id="open">menu</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} 以降パソコン用 {% endcomment %}
    <div class="container-fluid sticky-top version_pc">
      {% comment %} 背景色変更↓ {% endcomment %}
      <div class="row bg-success">
        <div class="col-12">
          {% comment %} 二つの要素を両端に配置↓ {% endcomment %}
          <div class="d-flex justify-content-between">
            {% comment %} ロゴ↓ {% endcomment %}
            <div class="logo"><img src="{% static 'img/Vcode_Logo.png' %}" class="img-fluid"></div>
            {% comment %} 管理者用画面に飛ぶ↓ {% endcomment %}
            <div class="pt-1 mr-3 mt-4 mb-4">
              <button type="button" class="btn btn-danger">
                <a href="/fec_app_folder/admins/login/" class="">
                  管理者用画面はこちら
                </a>
              </button>
              {% comment %} ↑リンクの入れ方がわからないです {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="d-flex justify-content-center mb-5">
        <!-- ↓↓コンテンツ本体↓↓ -->
        <div class="pr-0 pl-0 mr-0 ml-0" id="col_change">
          {% block contents %}
          {% endblock %}
        </div>
        <!-- ↑↑コンテンツ本体ここまで↑↑ -->
      </div>
    </div>
  </body>
  <script type="text/javascript" src="{% static 'js/base.js'%}"></script>  
</html>