<!DOCTYPE html>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
{% load static %}
<html lang="ja">

  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=320,
                    height=480,
                    initial-scale=1.0,
                    minimum-scale=1.0,
                    maximum-scale=2.0,
                    user-scalable=yes" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inspiration&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cccabinet.jpn.org/bootstrap4/css/style.css">
    <link rel="stylesheet" type='text/css' href="{% static 'css/base.css'%}">
    <link rel="icon" href="{% static 'img/FEC_touka.png'%}">

    <title> FGW空き教室確認システム </title>
    
    {% block extra_css %}{% endblock %}
    
  </head>

  <body>
    <!-- ↓↓１番上のナビゲーションバー↓↓ -->
    {% comment %} スマホ用 {% endcomment %}
    <div class="container-fluid sticky-top">
      {% comment %} 背景色変更↓ {% endcomment %}
      <div class="row bg-warning">
        <div class="col-12">
          {% comment %} 二つの要素を両端に配置↓ {% endcomment %}
          <div class="d-flex justify-content-between">
            {% comment %} 左上ロゴ↓ {% endcomment %}
            <div class="logo mt-2"><img src="{% static 'img/FEC_.png'%}" width="180" height="45"></div>
            {% comment %} 右上メニューアンケート  {% endcomment %}
            <div class="pt-1 mr-2 mt-2 mb-2">
              <a href="/fec_app_folder/users/top_page/" class="mr-2"><span class="material-icons">home</span>
              <a href="/fec_app_folder/users/reviews/"><span class="material-icons">description</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="d-flex justify-content-center mb-5">
        <!-- ↓↓コンテンツ本体↓↓ -->
        <div class="pr-0 pl-0 mr-0 ml-0" id="col_change">
          {% block contents %}
          {% endblock %}
        </div>
        <!-- ↑↑コンテンツ本体ここまで↑↑ -->
      </div>
    </div>
  </body>
  <footer class="container-fluid">
    <div class="d-flex justify-content-center">
      <p>
        ※空き教室は個人での自習にのみ利用可能です。団体での無断利用は控えてください。また、空き状況は臨時使用が入るなど、表示と異なる場合があります。利用に際しては、教職員の指示に従ってください。また、このアプリは中央大学サークル「V.code」と中央大学国際経営学部事務室によって運営されています。このアプリに関するお問合せは国際経営学部事務室までお願いいたします。
      </p>
    </div>
  </footer>
  <script type="text/javascript" src="{% static 'js/base.js'%}"></script>  
</html>