{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" type='text/css' href="{% static 'css/users.css'%}">
{% endblock %}
{% block contents %}

<h4 class="d-flex justify-content-center mt-3 p-2 bg-light border">アンケートのご協力をお願いいたします。</h4>

{% comment %} ↓注意書き↓ {% endcomment %}
<div class="box">
  <p>このアンケートは教室内の環境を把握すること、今後導入予定であるAIによる混雑度・騒音度予測に使用することを目的としております。</p>
  <p>ご記入いただいた個人情報は上記の利用目的のみに使用し、第三者に提供することはございません。</p>
  <p>テキストボックスには<strong class="text-danger">半角英数字で</strong>入力してください。</p>
</div>

<form method="POST">
  {% csrf_token %}

  {% comment %} ↓学籍番号入力↓ {% endcomment %}
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"> 学籍番号 </span>
    </div>
    {% comment %} <input type="text" class="form-control" placeholder="Student ID" aria-label="Student ID" aria-describedby="basic-addon1" name="student_number"> {% endcomment %}
    <div>
      {{ form.student_number }}
      {{ form.student_number.errors }}
    </div>
  </div>

  {% comment %} ↓利用している部屋番号入力↓ {% endcomment %}
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"> 利用部屋番号 </span>
    </div>
    {% comment %} <input type="text" class="form-control" placeholder="Room Number" aria-label="Room Number" aria-describedby="basic-addon1" name="room_number"> {% endcomment %}
    <div>
      {{ form.room_number }}
      {{ form.room_number.errors }}
    </div>
  </div>

  {% comment %} ↓部屋にいる人数入力↓ {% endcomment %}
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"> 部屋にいる人数 </span>
    </div>
    {% comment %} <input type="text" class="form-control" placeholder="People" aria-label="People" aria-describedby="basic-addon1" name="use_num"> {% endcomment %}
    <div>
      {{ form.use_num }}
      {{ form.use_num.errors }}
    </div>
  </div>

  {% comment %} ↓利用した時間割人数入力↓ {% endcomment %}
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"> 利用した時間 </span>
    </div>
    {% comment %} <input type="text" class="form-control" placeholder="People" aria-label="People" aria-describedby="basic-addon1" name="time"> {% endcomment %}
    <div>
      {{ form.time }}
      {{ form.time.errors }}
    </div>
  </div>

  {% comment %} ↓騒音度選択↓ {% endcomment %}
  <p>教室内の騒音度を評価してください</p>
  {% comment %} <div class="d-flex justify-content-between" name="sound">
    <p>silent&nbsp;&nbsp;&nbsp;</p>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="silent">
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="relatively_silent">
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="normal">
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="relatively_noisy">
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="relatively_noisy">
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="noisy">
    </div>
    <p>noizy</p>
  </div> {% endcomment %}
  <div>
    {{ form.sound }}
    {{ form.sound.errors }}
  </div>
  
  <br>
  <div>
    <button type="submit" class="btn btn-secondary text-white">送信</button>
  </div>
</form>
{% endblock %}